@import 'variables';

// Basic reset for all
// ------------------------------

* {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  -mobile-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: none;
  font-size: $base-font-size;
  line-height: 1;
}

body {
  font-family: $font;
  font-size: rem(16px);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
p,
small,
button {
  font-family: $font;
  margin: 0;
  padding: 0;
  border: unset;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  max-width: 100%;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}
