@mixin big-title {
  font-family: $font;
  font-weight: bold;
  font-size: rem(44px);
  line-height: 1.13;
}

@mixin title {
  font-family: $font;
  font-weight: bold;
  font-size: rem(36px);
  line-height: 1.2;
}

@mixin small-title {
  font-family: $font;
  font-weight: bold;
  font-size: rem(32px);
  line-height: 1.2;
}

@mixin big-text {
  font-family: $font;
  font-size: rem(22px);
  line-height: 1.2;
}

@mixin input-text {
  font-family: $font;
  font-size: rem(20px);
  line-height: 1.2;
}

@mixin text {
  font-family: $font;
  font-size: rem(18px);
  line-height: 1.2;
}

@mixin small-text {
  font-family: $font;
  font-size: rem(16px);
  line-height: 1.2;
}

@mixin tiny-text {
  font-family: $font;
  font-size: rem(14px);
  line-height: 1.2;
}
